@font-face {
  font-family: "PFSquareSansPro Bold";
  src: url("./../../assets/fonts/PFSquareSansPro-Bold.ttf");
}

@font-face {
  font-family: "PFSquareSansPro Light";
  src: url("./../../assets/fonts/PFSquareSansPro-Light.ttf");
}

@font-face {
  font-family: "PFSquareSansPro Medium";
  src: url("./../../assets/fonts/PFSquareSansPro-Medium.ttf");
}

@font-face {
  font-family: "PFSquareSansPro Regular";
  src: url("./../../assets/fonts/PFSquareSansPro-Regular.ttf");
}

@font-face {
  font-family: "PFSquareSansPro Thin";
  src: url("./../../assets/fonts/PFSquareSansPro-Thin.ttf");
}

@font-face {
  font-family: "PFSquareSansPro XBlack";
  src: url("./../../assets/fonts/PFSquareSansPro-XBlack.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./../../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./../../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("./../../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("./../../assets/fonts/Roboto-Thin.ttf");
}


