@import "@/assets/styles/abstracts";

.register{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  &-container{
    background-color: white;
    border: 1px solid $login-border-color;
    border-radius: rem(15);
    max-width: rem(480);
    min-width: rem(480);
    margin: 0 auto;
    &__title{
      text-align: center;
      font-family: $font-light;
      h1{
        font-size: rem(32);
      }
    }
  }
  &__label{
    display: flex;
    justify-content: space-between;
    font-family: $font-medium;
    a{
      letter-spacing: rem(1);
      text-decoration: none;
      font-size: rem(10);
      color: $forgot-password-color;
      font-family: $font-medium;
    }
  }
  &__icon{
    position: relative;
    .left{
      position: absolute;
      bottom: rem(11);
      left: rem(13);
      svg{
        color: $input-border-color;
      }
    }
    .password{
      position: absolute;
      bottom: rem(11);
      right: rem(13);
      svg{
        color: $input-border-color;
        cursor: pointer;
      }
    }
  }
  &__error{
    font-family: $font-medium;
    color: $validation-error-color;
  }
  &__or{
    text-align: center;
    p{
      color: $forgot-password-color;
    }
  }
}

