@import '@/assets/styles/abstracts';

.row {
  height: 46.375rem;
  margin: 0 !important;
  padding: 0;
  position: relative;

  .col-5, .col-7 {
    padding: 0;
  }
}

.swiper_info {
  width: 35.5rem;
  height: 21.563rem;
  position: absolute;
  top: 10.813rem;
  left: 13.5rem;

  &__title {
    width: 90%;
    height: 9.5rem;
    font: 4rem $font-bold3;
    color: $color1;
    line-height: 4.75rem;
    letter-spacing: 0.006em;
  }

  &__text {
    width: 103%;
    height: 4.5rem;
    font: 0.938rem $font1;
    color: $color4;
    line-height: 1.5rem;
    letter-spacing: 0.003em;
  }

  &__buttons {
    width: 18.625rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
  }
}

.swiper_image {
  height: 46.375rem;
  background: center no-repeat;
  background-size: cover;
  image-rendering: crisp-edges;
}

